{% extends "./layout.html" %}

{% block head %}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.min.js"
    integrity="sha256-8IAwtdm0tRSYpMA1G5K1jpeHZq1N02yrdpoBteVVuMc="
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
    integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
    crossorigin="anonymous"
  ></script>

  <link rel="stylesheet" href="/css/game.scss" />

  <script src="/js/game.js"></script>
{% endblock %}

{% block body %} {% endblock %}
