<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="The Official Unofficial Website of Silica Urbe."
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"
    />

    <link rel="manifest" href="/site.webmanifest" />

    <meta
      name="description"
      content="The Official Unofficial Website of Silica Urbe."
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Lemuel De Los Santos" />
    <meta name="image" content="https://www.su.gov/img/favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://www.su.gov/" />
    <meta property="og:type" content="game" />
    <meta property="og:title" content="Silica Urbe" />
    <meta
      property="og:site_name"
      content="The Official Unofficial Website for Silica Urbe"
    />
    <meta
      property="og:description"
      content="The Official Unofficial Website of Silica Urbe."
    />
    <meta property="og:image" content="https://www.su.gov/img/favicon.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="192" />
    <meta property="og:image:height" content="192" />
    <meta property="og:image:alt" content="Silica Urbe Logo" />

    <meta itemprop="name" content="Silica Urbe" />
    <meta
      itemprop="description"
      content="The Official Unofficial Website of Silica Urbe."
    />
    <meta itemprop="image" content="https://www.su.gov/img/favicon.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Silica Urbe" />
    <meta
      name="twitter:description"
      content="The Official Unofficial Website of Silica Urbe."
    />
    <meta
      name="twitter:image:src"
      content="https://www.su.gov/img/favicon.png"
    />

    <meta name="format-detection" content="telephone=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link
      rel="icon"
      type="image/png"
      sizes="36x36"
      href="/img/icons/android-icon-36x36.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/img/icons/android-icon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="72x72"
      href="/img/icons/android-icon-72x72.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/img/icons/android-icon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="144x144"
      href="/img/icons/android-icon-144x144.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/icons/android-icon-192x192.png"
    />

    <meta name="apple-mobile-web-app-title" content="Silica Urbe" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/img/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/img/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/img/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/img/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/img/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/img/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/img/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/icons/apple-icon-180x180.png"
    />

    <meta name="application-name" content="Silica Urbe" />
    <meta
      name="msapplication-TileImage"
      content="img/icons/ms-icon-144x144.png"
    />
    <meta name="msapplication-starturl" content="/?utm_source=a2hs" />
    <meta name="msapplication-tooltip" content="Silica Urbe" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="msapplication-config" content="browserconfig.xml" />

    <meta name="full-screen" content="yes" />
    <meta name="browsermode" content="application" />

    <meta name="nightmode" content="enable/disable" />

    <meta name="layoutmode" content="fitscreen/standard" />

    <meta name="imagemode" content="force" />

    <meta name="screen-orientation" content="any" />

    <meta name="theme-color" content="#007fff" />
    <meta name="msapplication-TileColor" content="#007fff" />
    <meta name="msapplication-navbutton-color" content="#007fff" />

    <meta name="rating" content="General" />

    <title>Silica Urbe</title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <!-- Bootstrap Core -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
      crossorigin="anonymous"
    />
    <!-- Material Design Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css"
      integrity="sha256-Yk0G1n4EfNeBYjOQBKTqnOmGsp1QbzDpDldPqo2AWBI="
      crossorigin="anonymous"
    />
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <!-- JQuery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap Tooltips -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
      integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA="
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap Core -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg="
      crossorigin="anonymous"
    ></script>
    <!-- MDB Core -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"
      integrity="sha256-pnlMpoRrN5vVQMnG3rx4d0O1G4IaPWoSQl/BYI5pHhg="
      crossorigin="anonymous"
    ></script>

    {% block head %}

    <link rel="stylesheet" href="/css/main.scss" />

    <script src="/js/main.js" defer></script>

    {% endblock %}
  </head>
  <body>
    {% block body %} WHERE'S THE BODY {% endblock %}
  </body>
</html>
